<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <stl:include file="@/include/meta.html" />
    <title>{stl:value type="slogn"}|{Stl.SiteName} - {Channel.Title}</title>
</head>

<body>
    <div class="global-box area">
        <stl:include file="@/include/ResponsiveNav.html" />
        <stl:include file="@/include/FixedNav.html" />
        <div class="jo-right">
            <div class="main-box clearfix">
                <div class="lft">
                    <div class="jo-content">
                        <div class="jo-topchannels10"></div>
                        <stl:include file="@/include/owl.html" />
                        <div class="today-new">
                            <div class="jo-location">
                                <stl:location separator=" / " />
                            </div>
                        </div>
                        <div class="post-autor">
                            <div class="inner-wrap">
                                <div class="post-list">
                                    <div class="news-list">
                                            <stl:pageContents pageNum="12" scope="SelfAndChildren" order="AddDate">
                                                <div class="item clearfix">
                                                    <div class="thumb-img">
                                                        <stl:a title="{Content.Title}">
                                                            <stl:image alt="{Content.Title}" />
                                                        </stl:a>
                                                        <div class="comment-o hidden-xs"><i class="fa  fa-pie-chart"></i> 
                                                            <stl:content type="Hits" />
                                                        </div>
                                                    </div>
                                                    <div class="item-con">
                                                        <h2 class="nopd"><stl:a>{Content.Title}</stl:a></h2>
                                                        <p class="des nopd">
                                                            <stl:content type="Summary" />
                                                        </p>
                                                        <div class="autor-meta joimg">
                                                            <span class="in-tags">
                                                               <i class="fa fa-tags"></i> 
                                                              <stl:tags>
                                                                <stl:a href="{Stl.SiteUrl}/utils/tags.html?tagName={Tag.Name}">{Tag.Name}</stl:a>
                                                              </stl:tags>
                                                               </span>
                                                            <span class="in-times hidden-xs"><i class="fa fa-clock-o"></i><stl:content type="AddDate" formatString="MM-dd" /> </span>

                                                        </div>

                                                    </div>
                                                </div>
                                            </stl:pageContents>

                                            <!-- pagination -->
                                            <div class="fy">
                                                <stl:pageItems>
                                                    <stl:pageItem type="PreviousPage">
                                                        <stl:successTemplate>
                                                            <a class="upleft" href="{Current.Url}">上一页</a>
                                                        </stl:successTemplate>
                                                        <stl:failureTemplate>
                                                            <a class="upleft none" href="javascript:;">上一页</a>
                                                        </stl:failureTemplate>
                                                    </stl:pageItem>

                                                    <span>{PageItem.CurrentPageIndex} / {PageItem.TotalPageNum}</span>

                                                    <stl:pageItem type="NextPage">
                                                        <stl:successTemplate>
                                                            <a class="fr downright" href="{Current.Url}">下一页</a>
                                                        </stl:successTemplate>
                                                        <stl:failureTemplate>
                                                            <a class="fr downright none" href="javascript:;">下一页</a>
                                                        </stl:failureTemplate>
                                                    </stl:pageItem>
                                                </stl:pageItems>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <stl:include file="@/include/foot.html" />
        </div>
    </div>
</body>

</html>
<stl:include file="@/include/js.html" />